.card-list {
  display: grid;
  width: 98%;
  height: auto;

  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

  background-color: rgb(35, 73, 83);
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 1460px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1110px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 730px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
